<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_p.css') }}">
    <title>Chat UI</title>
</head>
<body>
    <div class="background">
        <h1 class="title">Travel Plan</h1>
        <div class="chat-container">
            <div class="chat-box">
                <div class="chat-content">
                    <!-- 여기에 텍스트가 표시됩니다. -->
                     <p>
                        날짜|출발지|출발시간|이동수단|이동시간|도착시간|도착지|도착지category|도착지에머무는시간|
                    </p>
                    <p>
                        |---|---|---|---|---|---|---|---|---|
                    </p>
                    <p>
                        |2024-10-14|전주역||출발|0분|10:00|가마|양식|2시간|
                    </p>
                    <p>
                        |2024-10-14|가마|12:00|도보|30분|12:30|베테랑 칼국수|종합분식|1시간|
                    </p>
                    <p>
                        |2024-10-14|베테랑 칼국수|13:30|도보|26분|14:00|가비마실|카페,디저트|2시간|
                    </p>
                    <p>
                        |2024-10-14|가비마실|16:00|도보|13분|16:13|이소|카페,디저트|1시간|
                    </p>
                    <p>
                        |2024-10-14|이소|17:13|도보|52분|18:05|지장제|호수,연못,저수지|2시간|
                    </p>
                    <p>
                        |2024-10-14|지장제|20:05|도보|26분|20:31|베테랑 칼국수|종합분식|자유시간|
                    </p>
                    <p>
                        **전주 이슈**
                        - [('전주·완주 상생 이끄는 도서관 문화여행', '공보담당관이 전주와 완주의 상생을 이끄는 도서관 문화여행에 대해 언급한 보도자료.'), ('인권도시 전주 구현 위한 인권위원회 역량 강화', '전주시  인권위원회가 인권 감수성 향상을 위해 27일 전주도시혁신센터에서 인권위원 대상 워크숍을 개최했다.'), ('독서의 계절, 특성화도서관에서 만나는 특별한 체험', '제목 독서 행사가 특성화 도서관에서 진행 중이다.')]
                            - 전주시는 완주군과 상생 발전을 위해 도서관 문화 여행 프로젝트를 추진하고 있다.
                            - 전주시 인권위원회는 인권 의식 향상을 위해 지속적으로 노력하고 있다.
                            - 전주시 특성화 도서관에서 독서 관련 행사가 진행되고 있다.

                        **행사/축제**
                        - [('독서의 계절, 특성화도서관에서 만나는 특별한 체험', '독서의 계절은 특성화 도서관에서 특별한 체험을 제공합니다.'), ('전주·완주 상생 이끄는 도서관 문화여행', '본 기사에서는 전주와 완주  지역 도서관들이 상호 협력하여 문화적 여행을 만드는 프로젝트에 대한 소개가 담겨 있습니다.'), ('전주시, 반려견 광견병 예방접종 지원', '전주시에서 10월 한 달간 생후 3개월 이상의 동물등록 반려견 2000마리를 대상으로 38개 지정 동물병원에서 광견병 예방접종을 지원함.')]
                            - 특성화 도서관에서 독서 행사가 개최된다.
                            - 전주시와 완주군이 협력하여 도서관 문화 여행 프로젝트를 진행한다.

                        **추가정보**
                        - 관련 장소: 없음                    
                     </p>
                </div>
            </div>
        </div>
        <input type="text" class="chat-input" placeholder="개선사항...">
    </div>
</body>
</html>
